:root {
  --heading-color: #4E598C;
  --tab-color: #BDBDBD;;
  --tab-color-active: #F2994A;

}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

