/* bp-large: 59.375em; //950px */
/* bp-medium: 43.75em; //700px */
/* bp-smallest: 28.15em; //450px */

:root {
  --heading-color: #4E598C;
  --tab-color: #BDBDBD;
  --tab-color-active: #F2994A;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}
